<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meh</title>
</head>
<body>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Submit</button>
    </form>
    <% if (text) { %>
        <h2><%= text %></h2>
    <% } %>
</body>
</html>